<div class="menu-container">
    <ul>
        <li class="header">
            Основное
        </li>
        <li class="item">
            <a href="/admin/">Главная</a>
        </li>
        <li class="item">
            <a href="/admin/phones/">Телефоны</a>
        </li>
        <li class="item">
            <a href="#">Населённые пункты</a>
        </li>
    </ul>

    <div class="copyrights">
        <div>
            Администраторский интерфейс Папомамера &copy;2020
        </div>
        <div class="links">
            <a target="_blank" href="/">На главную сайта</a>
        </div>
    </div>
</div>