<div class="header">
    <div class="header-logo">
        <a class="logo-href" href="/">
            <span class="site-name">
                <span style="color:#588da8;">П</span><span style="color:#ffb6b6;">А</span><span style="color:#75b79e;">П</span><span style="color:#ccb100;">О</span><span style="color:#606060;">М</span><span style="color:#be8abf;">А</span><span style="color:#fa877f;">М</span><span style="color:#a6b1e1;">Е</span><span style="color:#cfb495;">Р</span>
            </span>
        </a>
    </div>
    <div class="header-menu">
        <div class="item">
            <a href="/">Главная</a>
        </div>
        <div class="item">
            <a href="#">Товары</a>
        </div>
        <div class="item">
            <a href="#">Услуги</a>
        </div>
        <div class="item">
            <a href="#">Полезности</a>
        </div>
    </div>
    <div class="header-user-block">
        {% if not current_user.is_authenticated %}
            <i class="icon icon-user"></i>
            <span class="you-are-not-logged">
                <a href="/user/register/">Зарегистрируйтесь</a><br />или <a href="/user/login/">войдите</a>
            </span>
        {% else %}
            <!-- Implement this section for authenticated user -->
        {% endif %}
    </div>
</div>