<div class="footer">
    <div class="footer-city-selector">
        Мой город &mdash; <a href="javascript:void(0);" class="js">Пенза</a>
    </div>
    <div class="footer-copyrights">
        <span class="site-name">Сайт для родителей &laquo;Папомамер&raquo; &copy;2020</span>
        <div class="links">
            <div class="item"><a href="/about/">О сайте</a></div>
            <div class="item"><a href="/legal/">Правовая информация</a></div>
            <div class="item"><a href="/contact-us/">Напишите нам</a></div>
        </div>
    </div>
</div>