<h1>Добро пожаловать!</h1>

<div class="explanation">
    <p>Здравствуйте!</p>
    <p>Это администраторский интерфейс Папомамера, здесь вы можете управлять всем содержимым сайта.</p>
    <p>
        Ниже вы найдёте некоторые примеры виджетов с описаниями. Эти виджеты можно использовать для
        любых страниц администраторского интерфейса. Они более-менее протестированы и должны предсказуемо
        работать :-)
    </p>
</div>


<div class="common">
    <h2>Двухколоночный пропорциональный макет</h2>
    <div class="grid-2-columns">
        <div class="col1 light-grey">
            Column1
        </div>
        <div class="col1 dark-grey">
            Column2
        </div>
    </div>
</div>

<div class="common">
    <h2>Двухколоночный макет, правая часть больше</h2>
    <div class="grid-2-columns right-greater">
        <div class="col1 light-grey">
            Column1
        </div>
        <div class="col1 dark-grey">
            Column2
        </div>
    </div>
</div>

<div class="common">
    <h2>Двухколоночный макет, левая часть больше</h2>
    <div class="grid-2-columns left-greater">
        <div class="col1 light-grey">
            Column1
        </div>
        <div class="col1 dark-grey">
            Column2
        </div>
    </div>
</div>

<div class="common">
    <h2>Трёхколоночный пропорциональный макет</h2>
    <div class="grid-3-columns">
        <div class="col1 light-grey">
            Column1
        </div>
        <div class="col1 medium-grey">
            Column2
        </div>
        <div class="col1 dark-grey">
            Column3
        </div>
    </div>
</div>

<div class="common">
    <h2>Макет для построчного отображения контента</h2>
    <div class="row-content">
        <div class="row1 light-grey">
            Row1
        </div>
        <div class="row2 medium-grey">
            Row2
        </div>
        <div class="row3 dark-grey">
            Row3
        </div>
    </div>
</div>

<div class="common">
    <h2>Обычная форма</h2>
    <form class="typical-form" method="POST" action="/admin/">
        <div class="section">
            <div class="label light-grey">
                <label for="input1">
                    Текстовое поле
                </label>
            </div>
            <div class="input medium-grey">
                <input type="text" placeholder="Текстовое поле" id="input1" name="input1">
            </div>
        </div>
    </form>
</div>