<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User login</title>
</head>
<body>
<form action="" method="post" name="login">
    <label for="login">Email</label>
    <input type="email" placeholder="Введите свой email" name="login">
    <br>
    <label for="password">Пароль</label>
    <input type="password" placeholder="Введите пароль" name="password">
    <br>
    <input type="checkbox" name="remember" value="True" checked> Запоминать меня после закрытия браузера.
    <br>
    <button type="submit">Авторизоваться</button>
</form>
</body>
</html>